<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body>
    <%- include('menu') %>
    <main>
      <h1><%= title %></h1>
      <p>Strona główna</p>
    </main>
    <%- include('footer') %>
  </body>
</html>
