body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f0f0f0;
    min-width: 300px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dependant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}